
.miniposts .row {
  margin-left: 0px;
}

.miniposts .img {
  margin-left: 0px;
}

.headline {
  clear: both;
  color: black;  
  font-size: 32px;
  letter-spacing: -2px;
  line-height: 100%;
  margin: 0px 0 15px -2px;
}

.more-link {
  font-weight: bold;
}

/* LINKS */

a:link, a:visited {
  font-weight: bold;
}

a:hover {
  color: red;
}

/* CUSTOMIZATION OF TWITTER BOOTSTRAP THEME */

.navbar {
  width: 740px;
}

.container {
  width: 700px;
}