<!-- post content -->
<div class="row">

  <div class="span8">
    <!-- post date  -->
    <h6>{{ page.date | date: "%d.%m.%Y" }}</h6>
    
    <!-- post title -->
    <h2 class="headline">{{ page.title }}</h2>

    <!-- post content -->
    {{ content }}

    <hr>

    <!-- pagination controls -->    
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Anterior</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Anterior</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Todos os Posts</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Seguinte &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Seguinte &rarr;</a>
      {% endif %}
      </ul>
    </div>

    {% include JB/comments %}


  </div>
  
  <!-- sidebar -->
  <div class="span4">

    {% unless page.category == empty %}
      <h4>Categorias</h4>
      <ul class="tag_box">
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
      </ul>
    {% endunless %}  
    
    
    {% unless page.tags == empty %}
      <h4>Tags</h4>
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}  
    
  </div>

</div>

